/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&family=Google+Sans:wght@400;500;700&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}

.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
    font-family: 'Google Sans', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.38;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
    font-weight: 380;
    font-size: 1.5rem;
    line-height: 1.35;
    margin-bottom: 1rem;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    color: hsl(204, 76%, 24%) !important;
}

.author-block {
  display: inline-block;
  margin-right: 0.5em;
}

.author-block:last-child {
  margin-right: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Google Sans', sans-serif;
    font-weight: 500;
    line-height: 1.2;
}

h2.title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.content p {
    font-size: 1.15rem;
    line-height: 1.7;
    margin-bottom: 1.5rem;
}
